POSTGRES_DB=retailmax
POSTGRES_USER=calificar
POSTGRES_PASSWORD=secret123+

JAVA_TIMEZONE=America/Guatemala

POSTGRES_PORT=5432
METABASE_PORT=3000

METABASE_ADMIN_EMAIL=calificar@uvg.edu.gt
METABASE_ADMIN_PASSWORD=secret123+
